/* * {
  background-color: #286fe1;
  opacity: 0.9;
} */
/* body {
  height: 100vh;
} */
.App {
  text-align: center;
  height: 100vh;
  background-image: url("./assets/snazzy-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
